<!DOCTYPE html>
<html>
    <head>
        <title>Verify</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <div class="center">
            <div class="card login-card">
                <div class="card-body">
                    <h5 class="card-title">Verify With Client</h5>
                    <form action="{{ url_for('verifyattempt') }}" method="POST">
                        <div class="form-group">
                            <label for="messageBox">Message</label>
                            <textarea name="message" class="form-control" id="messageBox" readonly>{{ message }}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="signatureInput">Signature</label>
                            <textarea name="signature" class="form-control" id="signatureInput"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>